*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 30px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
h4{
    position: relative;
}
h4::after{
    content: '';
    background: rgb(24, 170, 170);
    width: 90px;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.profile,.about, .services
{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px 0;
    justify-content: center;
}
.education, .about, .services{
   grid-template-columns: 40% 60%; 
}
header, .profile
{
    align-items: center;
}
.about .left h4, .education .left h4, .services .left h4{

    font-size: 2.4rem;
    color: rgb(58, 58, 58);
    margin-top: 30px;
}
.about,.projects-sec,.projects, .services,.contact, .contact-sec
{
    margin: 30px;
}


/* Header */
header{
    display: grid;
    grid-template-columns: 40% 60%;
    padding:20px;
    border-bottom: 2px solid rgb(179, 179, 179);
}
header .name
{
    font-size: 1.6rem;
}
header .nav-hide-btn, header .nav-show-btn
{
    padding: 10px;
    width: auto;
    height: max-content;
    border: 2px solid rgb(24, 170, 170);
    font-size: 1.6rem;
    background-color: transparent;
    color: rgb(24, 170, 170);
    display: none;
    cursor: pointer;
}

header nav ul
{
    display: flex;
    justify-content:space-around;
}
header nav ul li
{
 font-size: 1.1rem;   
 cursor: pointer;
 position: relative;
 padding-bottom: 5px;
}
header nav ul li::after{
    content: '';
    background: rgb(24, 170, 170);
    width: 40px;
    height: 5px;
    position: absolute;
    left: 0px;
    bottom: 0;
}
/* profile */

.profile .left
{
    font-size: 1.8rem;
    line-height: 50px;
    margin-left: 20px;
}
.profile .left span{
    color: rgb(24, 170, 170);
    font-size: 2rem;
}
.profile .left .social-links
{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    column-gap: 20px;
}

.profile .image
{
    aspect-ratio: 1/1;
    width: 90%;
    height: 90%;
}
.profile .image img
{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
/* skills */
.skills ul
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin: 30px 0;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
}
.skills ul li{
    border: 2px solid rgb(24, 170, 170);
    color: rgb(24, 170, 170);
    border-radius: 100px;
    font-size: 1.2rem;
    padding: 20px;
    text-align: center;
}
.skills ul li:hover
{
    box-shadow: 0 1px 3px 0 rgb(24, 170, 170);
    transition: 0.3s;
}
/* education */
.education{
    line-height: 35px;
}
.education .degree{
    font-size: 1.4rem;
}
.education .university
{
    font-size: 1.3rem;
}
.education .university span{
    font-size: 1.1rem;
}
.education .date{
    color: blue;
    font-size: 1.1rem;
}

/* About */
.about .right h4
{
    font-size: 1.6rem;
}
.about .right h4::after{
    background: transparent;
}
.about .right p
{
    padding: 10px 0;
    font-size: 1.1rem;
}
.about .right h5{
    font-size: 1.4rem;
}


/* Projects */
.projects-sec h4,.contact-sec h4{
    font-size: 2.3rem;
    margin: 50px 0;
    margin-left: 30px;
    color: rgb(58, 58, 58);
    margin-left: 0;
}
.projects, .services .right
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
}
.projects .card, .services .right .card
{
    box-shadow: 0 2px 5px rgb(102, 102, 102);
    border-radius: 20px;
    position: relative;
}
.projects .card:hover, .services .right .card:hover
{
    box-shadow: 0 2px 5px rgb(2, 2, 2);
}
.projects .card .img{
    aspect-ratio: 4/3;
}
.projects .card .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-body{
    padding: 10px;
}
.projects .card .card-body p
{
    font-size: 1rem;
    padding-bottom: 10px;
}
.projects .card .card-body .name{
    font-size: 1.4rem;
}
.projects .card .card-body .btn
{
    margin: 10px 0;
}
.projects .card .card-body .btn a
{
    padding: 10px;
    border: 2px solid rgb(44, 150, 158);
    border-radius: 10px;
}
.projects .card .card-body .btn a:hover
{
    background-color: rgb(44, 150, 158);
    color: white;
    transition: 0.3s;
}

/* Services */
.services .right .card
{
    padding: 50px 20px;
    text-align: center;
}
.services .right .card h5{
    font-size: 1.4rem;
}
.services .right .card p{
    margin-top: 10px;
    font-size: 1.1rem;
}

/* contact-sec */
.contact-sec h4{
    margin-left: 30px;
}
.contact{
    display: grid;
    grid-template-columns: 50% 50%;
}
.contact .left
{
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(90, 90, 90);
    margin-bottom: 20px;
}
.contact .left span{
    color: rgb(54, 54, 54);
    font-size: 1.5rem;
    font-weight: bold;
}
.contact .left p
{
    padding: 20px 0;
    position: relative;
}
.contact .left p::after{
    content: '';
    background: rgb(201, 201, 201);
    height: 2px;
    width: 80%;
    position: absolute;
    left: 0;
    bottom: 0%;
}
.contact .right form
{
    width: 80%;
}
.contact form input, .contact form textarea{
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border: 2px solid rgb(161, 161, 161);
    outline: none;
    font-size: 1.1rem;
}
.contact form input:focus, .contact form textarea:focus, .contact form button:hover{
    border: 2px solid rgb(24, 170, 170);
    transition: 0.2s;
}
.contact form textarea{
    height: 80px;
    resize: none;
}
.contact form button{
    padding: 10px 20px;
    border: 2px solid rgb(161, 161, 161);
    background-color: transparent;
    cursor: pointer;
    column-rule-color: rgb(161, 161, 161);
    font-size: 1.2rem;
}

/* Footer */
footer
{
    padding: 20px 0;
    color: rgb(24, 170, 170);
    text-align: center;
    font-size: 1.2rem;
}


@media (max-width: 760px){
    .education, .about,.projects, .services, .contact-sec
    {
        margin: 0px;
    }
    .profile, .education, .about, .services, .contact
    {
        grid-template-columns: 100%;
    }       
    .profile .left,     .about .right
    {
        margin-top: 30px;
        margin-left: 0px;
    }
    .projects, .services .right
    {
        margin-top: 25px;
    }
    form{
        margin-top: 20px 0;
    }
    .contact .left p::after{
        width: 100%;
    }
}

@media (max-width:640px)
{
    header{
        grid-template-columns: 70% 30%;
    }
    header .nav-show-btn{
        display: block;
        width: 50px;
        margin-left: auto;
    }
    header .nav-hide-btn
    {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    header nav{
        width: 80%;
        position: fixed;
        right: -100%;
        bottom: 0%;
        top: 0%;
        background-color: white;
        transition: 0.2s;
    }
    header nav ul
    {
        display: grid;
        grid-template-columns: 100%;
        margin-top: 50px;
    }
    header nav ul li
    {
        font-size: 1.5rem;
        margin: 20px 0;
        padding: 10px;
    }
    header nav ul li::after{
        left: 10px;
    }
}

@media (max-width: 520px){
    .profile,.about,.projects-sec,.projects, .services, .contact-sec
    {
        margin: 30px 10px;
    }   
    body
    {
        padding: 0 10px;
    }
    .contact{
        margin: 0;
    }
    .contact .right form
    {
        width: 100%;
        box-shadow: 0 2px 5px rgb(94, 94, 94);
        padding: 30px 0;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.116);
    }
    .contact .right form input, .contact .right form textarea{
        width: 85%;
        margin: 10px 2%;
    }
    .contact .right form button{
        margin-left: 2%;
    }
    .contact-sec h4{
        margin-left: 0%;
    }
    .contact span{
        display: none;
    }

}
